<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-secondary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded == true" class="table table-hover">
  <thead>
    <tr>
      <th>Car Image</th>
      <th>Car Name</th>
      <th>Brand Name</th>
      <th>Model Year</th>
      <th>Color Name</th>
      <th>Description</th>
      <th>Daily Price</th>
    </tr>   <!--'490f5120-5b15-4570-9aec-e5467a8cc786.jpg'-->
  </thead>
  <tr *ngFor="let car of cars"    >
    <td><img [src]="'https://localhost:44309/Uploads/Images/'+ (car.imagePath ? car.imagePath : 'DefaultImage.jpg') "class="img-thumbnail" alt="Doesn't have image" width="200" ></td>
    <td>{{car.carName}}</td>
    <td>{{car.brandName}}</td>
    <td>{{car.modelYear}}</td>
    <td>{{car.colorName}}</td>
    <td>{{car.description}}</td>
    <td>{{car.dailyPrice}}</td>
  </tr>
</table>

