<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-secondary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded == true" class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>BrandName</th>
      <th>Rent Date</th>
      <th>Return Date</th>
      
    </tr>
  </thead>
  <tr *ngFor="let rental of rentals">
    <td>{{rental.name}}</td>
    <td>{{rental.brandName}}</td>
    <td>{{rental.rentDate}}</td>
    <td>{{rental.returnDate}}</td>
  </tr>
</table>

<table class="table table-striped">
  ...
</table>
